/* COLORS */

/* 

COLORS: 
#0C0C0E
#000000
#BB945F
#FFFFFF
#8E8E8E 
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
	/* width: 100%; */
  max-width: 1440px;
  margin: 0 auto;
  background-color: #fff;
  color: #000;
  padding: 20px 20px 40px;
}

html {
  background-color: #0c0c0e;
  scroll-behavior: smooth;
	overflow-x:hidden;
}

li {
  list-style-type: none;
}

/* img {
	width: 100%;
  height: auto;
} */

/* HEADER */

.header {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #0c0c0e;
  height: 90px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  gap: 40px;
}

.nav-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
	width: 100%;
}

.header-ul {
  display: flex;
  gap: 30px;
}

h1 {
  color: #fff;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
}

h2 {
  color: #0c0c0e;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 20px;
  position: relative;
  margin-bottom: 40px;
}

h2:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 51px;
  height: 1px;
  background: #0c0c0e;
  display: block;
  margin: 0 auto;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
}

.header-btn {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}

/* WELCOME */

.welcome {
  height: 600px;
  background-image: url(assets/png/welcome.png);
  background-repeat: no-repeat;
	background-size: auto;
  padding-top: 220px;
	padding-left: 0;
}

.border-text {
  display: flex;
  width: 600px;
  height: 220px;
  padding: 35px 40px;
  justify-content: center;
  align-items: center;
  background-color: #0C0C0E;
}

.welcome-text {
  color: #fff;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 125% */
  letter-spacing: 3px;
  text-transform: uppercase;

  background-color: #0C0C0E;;
  width: 520px;
}
/* ABOUT */

.about-text {
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  margin-bottom: 20px;
}

.about-img {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.dots {
  display: flex;
  justify-content: center;
  left: 50%;
  padding-top: 35px;
}

.border-dots {
  cursor: pointer;
  width: 26px;
  height: 26px;
}

.dot {
  width: 16px;
  height: 16px;
  background-color: #000;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  margin: 5px;
}

.dot--fill {
  background-color: #bb945f;
}

/* FAVORITES */

.text-fav {
  color: #000;
  /* text-align: center; */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 40px;
}

.seasons {
  display: flex;
  gap: 90px;
  margin-bottom: 40px;
}

.season {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input {
  margin-right: 27px;
}

input[type="radio"] {
  accent-color: #000;
}

input[type="radio"]:checked + .checked-text {
  font-weight: 700;
}

.favorites-4-books {
	max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 550px);
  justify-items: center;
	justify-content: space-around;
	/* gap: 223px; */
  grid-row-gap: 40px;
}

.book {
  width: 550px;
  height: 555px;
  border: 1px solid #000;
  display: flex;

  position: relative;
}

.book-box {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 15px 170px 15px 20px;
  gap: 20px;

  position: relative;
}

.title-books {
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  position: relative;
}

.title-books:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 1px;
  display: block;
  background-color: #bb945f;
}

h4 {
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: uppercase;
}

.author {
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.book-text {
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.buy-btn {
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  background-color: #fff;
  color: #0c0c0e;

  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;

  position: absolute;
  top: 510px;
  cursor: pointer;
}

.buy-btn:hover {
  background-color: #bb945f;
  border: none;
}

.own-btn {
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #bb945f;
  background-color: #fff;
  color: #bb945f;

  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;

  position: absolute;
  top: 510px;
}

.book img {
  position: absolute;
  z-index: 2;
  top: 255px;
  left: 390px;
}

/* COFFEE SHOP */

.coffee-text {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;

  padding-bottom: 40px;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 480px;
}

.title-coffee {
  color: #bb945f;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;

  margin-bottom: 40px;
}

.menu-ul {
  /* display: flex;
  flex-direction: column;
  gap: 40px; */

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 40px;
  grid-column-gap: 40px;
}

.menu-ul li {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;

  position: relative;
}

.menu-li:after {
  content: "";
  width: 100px;
  height: 1px;
  background: #bb945f;
  position: absolute;
  top: 50%;
  right: -80%;
}

.menu-price {
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: right;
}

.right {
  text-align: right;
}

/* CONTACTS */

.contacts-block {
  display: flex;
  justify-content: space-between;
}

.title-contacts {
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.contacts-ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21px;
}

.contacts-ul li,
.contacts-ul a {
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #000;

  list-style-type: none;
}

.contacts-ul a {
  text-decoration: none;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.lib-dir {
  display: flex;
}

.director {
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  padding-right: 7px;
}

/* LIBRARY CARD */

.find-get-card {
  display: flex;
  justify-content: space-between;
}

.find-header {
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: center;
  margin-bottom: 30px;
}

.border-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 600px;
  height: 386px;
  border: 3px solid #bb945f;
  background: #fff;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px 20px;
}

.background-box {
  width: 560px;
  height: 272px;
  background-color: #bb945f;
  padding: 20px;
}

.box-header {
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.find-box input {
  width: 520px;
  height: 66px;
  border-radius: 10px;
  background: #fff;
  margin-bottom: 25px;
  border: none;
}

input::placeholder {
  color: #8e8e8e;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
  padding-left: 20px;
}

.border-btn {
  width: 245px;
  height: 44px;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  padding: 10px 40px;
}

.check-btn {
  color: #0c0c0e;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;

  border: none;
  background-color: #fff;
  cursor: pointer;
}

.get-card {
  width: 456px;
  height: 253px;
}

.get-header {
  text-align: right;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 35px;
}

.get-text {
  text-align: right;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 0.4px;
  margin-bottom: 35px;
}
.btns {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.get-btn {
  display: flex;
  width: 75px;
  height: 30px;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  background-color: #fff;

  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  cursor: pointer;
}

.get-btn:hover {
  background-color: #bb945f;
  border: none;
}

/* FOOTER */

.footer {
  background-color: #000;
  color: #fff;
}

.footer-info {
  display: grid;
  grid-template-columns: 229px 149px;
	justify-content: space-between;
  /* column-gap: 1022px; */
  row-gap: 10px;
  padding-bottom: 30px;

  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */

  position: relative;
}

.footer-info p {
	text-align: right;
}

.footer-info a,
.footer-info a:active,
.footer-info a:visited {
  color: #fff;
  text-decoration: none;
}

a:hover {
  /* border-bottom: 1px solid #fff; */
	text-decoration: underline;
}

.footer-info:after {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 1px;
  display: block;
  background-color: #fff;
}

.social-media {
  display: flex;
	align-items: center;
  gap: 15px;
}

.footer-rss {
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  letter-spacing: 2px;

  display: flex;
  justify-content: space-between;
  margin-top: 44px;
}

.footer-rss a {
  color: #fff;
  text-decoration: none;
}

/* @media (max-width:1454px) {
	h1 {
		font-size: 1.8vw;
	}

	.nav-link {
		font-size: 1.4vw;
	}
	
	.nav-btn {
		gap: 400px;
	}
} */

@media (max-width:1024px) {

	.header-nav {
		display: none;
	}
	
	.burger {
		display: block;
		background-color: #0C0C0E;
		cursor: pointer;
		border: 0;
	}

	/* ABOUT */

	.about-img {
		display: none;
	}

	.carousel2 {
		display: block;
		display: flex;
		justify-content: center;
		gap: 25px;
	}

	/* FAVORITES */

	/* .favorites-4-books {
		display: flex;
		flex-direction: column;
		justify-items: center;
    justify-content: space-around;
	} */

	/* COFFEE SHOP */

	.menu {
		/* flex-wrap: wrap; */
		justify-content: space-between;
		gap: 0px;
	}

	/* CONTACTS */

	.contacts-block {
		flex-wrap: wrap;
		gap: 100px;
	}

}

@media (max-width:768px) {
		
	.header {
		padding-right: 0;
	}

	.header-nav {
		display: none;
	}
	
	.burger {
		display: block;
		background-color: #0C0C0E;
		cursor: pointer;
		border: 0;
	}
	
	.welcome {
		background-image: url(assets/png/Welcome-768.png);
	}

	/* ABOUT */

	.border-dots {
		display: block;
	}

	.about-img {
		display: none;
	}

	.carousel {
		display: block;
		display: flex;
		justify-content: center;
		position: relative;
	}

	.carousel2 {
		display: none;
	}

	.dots {
		padding-top: 20px;
	}

	.left-btn, .right-btn {
		width: 24px;
		height: 24px;
		display: block;
		background-color: #fff;
		cursor: pointer;
		border: 0;
		position: absolute;
	}

	.right-btn {
		top: 50%;
		right: 9%;
	}

	.left-btn {
		top: 50%;
		left: 7%;
	}

	/* FAVORITES */

	/* .favorites-4-books {
		display: flex;
		flex-direction: column;
		justify-items: center;
    justify-content: space-around;
	} */

	/* COFFEE SHOP */

	.menu {
		flex-wrap: wrap;
		/* justify-content: space-between; */
		gap: 40px;
	}
	
	.deserts {
		display: flex;
		flex-direction: column;
		margin-left: 247px;
	}

	/* CONTACTS */
	.contacts-block {
		flex-wrap: wrap;
		gap: 100px;
	}

	/* LIBRARY CARDS */

	.find-get-card {
		justify-content: center;
		flex-wrap: wrap;
		gap: 21px;
	}

	.get-header, .get-text {
		text-align: center;
	}

	.btns {
		justify-content: center;
	}

	.get-card {
		width: 600px;
		height: 220px;
	}
}

